<div class="row margin-top-30">
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h5 class="panel-title">New Tithe Entry</h5>
            </div>
            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
            <div class="panel-body">
                <div class="alert alert-danger" ng-show="error != null">
                    <button data-ct-dismiss="alert" class="close">
                        &times;
                    </button>
                    {{error}}
                </div>
                <div class="alert alert-info" ng-show="success != null">
                    <button data-ct-dismiss="alert" class="close">
                        &times;
                    </button>
                    {{success}}
                </div>

                    <div class="form-group" ng-class="{'has-error':Form.member.$dirty && Form.member.$invalid, 'has-success':Form.selected.$valid}">
                        <label class="control-label">
                            Name <span class="symbol required"></span>
                        </label>
                        <ui-select ng-model="tithe.member" theme="bootstrap" name="member" required>
                            <ui-select-match placeholder="Type a member's name/surname..." >
                                {{$select.selected.firstName }} {{$select.selected.lastName }} {{$select.selected.phone }}
                            </ui-select-match>
                            <ui-select-choices repeat="item in members | filter: $select.search">
                                <div ng-bind-html="item.firstName +' '+item.lastName | highlight: $select.search"></div>
                                <small ng-bind-html="item.phone | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="error text-small block" ng-if="Form.member.$dirty && Form.member.$invalid">Please select a person</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':Form.date.$dirty && Form.date.$invalid, 'has-success':Form.date.$valid}">
                        <label class="control-label">
                            Tithe Date <span class="symbol required"></span>
                        </label>
                        <input  class="form-control datepicker" ng-model="tithe.date" type="date" name="date" required>
                        <span class="error text-small block" ng-if="Form.date.$dirty && Form.date.$error.required">Date is required.</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':Form.amount.$dirty && Form.amount.$invalid, 'has-success':Form.amount.$valid}">
                        <label class="control-label">
                            Amount <span class="symbol required"></span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                R
                            </div>
                            <input type="number" placeholder="Enter the tithe amount" class="form-control" name="amount" ng-model="tithe.amount" required />
                        </div>

                        <span class="error text-small block" ng-if="!Form.amount.$error.required && Form.amount.$invalid">Tithe amount can only be numbers</span>
                        <span class="error text-small block" ng-if="Form.amount.$dirty && Form.amount.$error.required">Tithe amount is required.</span>
                    </div>

                <button type="submit" class="btn btn-primary">
                    Add Tithe to List
                </button>
                <button type="reset" class="btn btn-primary btn-o" ng-click="form.reset(Form)">
                    Clear Form
                </button>
            </div>
            </form>
        </div>
    </div>
    </div>

<div class="container-fluid container-fullw bg-white" ng-show="tithes.length">
    <div class="row">
        <div class="col-md-12">
            <h5 class="over-title margin-bottom-15">Tithe  <span class="text-bold">List</span></h5>
            <table class="table table-hover" id="sample-table-1">
                <thead>
                <tr>
                   <td colspan="4">     <button type="button" class="btn  btn-primary" ng-click="saveTithes()">
                      Submit ALL Tithes
                   </button></td>
                </tr>
                <tr>
                    <th class="center">#</th>
                    <th>Name</th>
                    <th class="hidden-xs">Date</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in tithes">
                    <td class="center">{{$index + 1}}</td>
                    <td>{{t.member.firstName}} {{t.member.lastName}}</td>
                    <td  class="hidden-xs">{{t.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{t.amount | currency : 'R'}} </td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>