<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.members.VIEW">{{ title }}</h1>
            <span class="mainDescription">Enables you to search through your members and view</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'ngTableCtrl3' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
            <div>
                <table ng-table="tableParams" show-filter="true" class="table table-striped">
                    <tr ng-repeat="member in $data">
                        <td data-title="'First Name'" filter="{ 'firstName': 'text' }"> {{member.firstName}} </td>
                        <td data-title="'Surname'">{{member.lastName}}</td>
                        <td data-title="'Gender'">{{member.gender}}</td>
                        <td data-title="'Phone Number'">{{member.phone}}</td>
                        <td data-title="''"><a ui-sref="app.members.viewMember({id: member.id})">
                            view
                        </a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>