<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">{{ title }}</h1>

        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <div ng-controller="ViewMemberCtrl">
                <!-- start: USER TABSET -->
                <tabset class="tabbable">
                    <!-- start: TAB OVERVIEW -->
                    <tab heading="Overview">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-left">
                                    <div class="center">
                                        <h4>{{member.firstName}} {{member.lastName}}</h4>
                                        <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                            <div class="user-image">
                                                <div class="thumbnail">
                                                    <img src="static/assets/images/default-user.png" alt="" ng-if="!obj.flow.files.length && noImage">
                                                    <img ng-src="{{member.avatar}}" alt="" ng-if="!obj.flow.files.length && !noImage">
                                                    <img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                                                </div>
                                                <div class="user-image-buttons" ng-if="obj.flow.files.length">
                                                    <span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
                                                    <span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
                                                </div>
                                                <div class="user-image-buttons" ng-if="!obj.flow.files.length">
                                                    <span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
                                                    <span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="social-icons block">
                                            <ul>
                                                <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
                                                    <a href="#" target="_blank">
                                                        Twitter
                                                    </a>
                                                </li>
                                                <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
                                                    <a href="#" target="_blank">
                                                        Facebook
                                                    </a>
                                                </li>
                                                <li data-placement="top" data-original-title="Google" class="social-google tooltips">
                                                    <a href="#" target="_blank">
                                                        Google+
                                                    </a>
                                                </li>
                                                <li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
                                                    <a href="#" target="_blank">
                                                        LinkedIn
                                                    </a>
                                                </li>
                                                <li data-placement="top" data-original-title="Github" class="social-github tooltips">
                                                    <a href="#" target="_blank">
                                                        Github
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <hr>
                                    </div>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="3">Contact Information</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>
                                                <a href="#">
                                                    {{member.phone}}
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td>Home Address:</td>
                                            <td>
                                                <a href>
                                                    {{member.homeAddress}}
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td>Gender:</td>
                                            <td>{{member.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{member.email}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="3">General information</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Ministry Groups</td>
                                            <td>{{member.groups}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Registered</td>
                                            <td>{{member.dateCreated | date }}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td><span class="label label-sm label-info">{{member.status}}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="3">Additional information</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">-</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <a class="btn btn-primary btn-o btn-wide" href="#" ng-click="editActive = true">
                                            Edit Account
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tab>
                    <!-- end: TAB OVERVIEW -->
                    <!-- start: TAB EDIT ACCOUNT -->
                    <tab heading="Edit Info" active="editActive">
                        <form name="Form" id="form" novalidate>
                            <fieldset>
                                <legend>
                                    Member Info
                                </legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error':Form.firstName.$dirty && Form.firstName.$invalid, 'has-success':Form.firstName.$valid}">
                                            <label class="control-label">
                                                First Name
                                            </label>
                                            <input type="text" placeholder="Enter first name" class="form-control" name="firstName" ng-model="member.firstName" ng-required="true">
                                            <span class="success text-small" ng-if="Form.firstName.$valid && Form.firstName.$dirty">Ok!</span>
                                            <span class="error text-small block" ng-if="Form.firstName.$dirty && Form.firstName.$invalid">First Name is required</span>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':Form.lastName.$dirty && Form.lastName.$invalid, 'has-success':Form.lastName.$valid}">
                                            <label class="control-label">
                                                Last Name
                                            </label>
                                            <input type="text" placeholder="Enter last name" class="form-control" name="lastName" ng-model="member.lastName" ng-required="true">
                                            <span class="success text-small" ng-if="Form.lastName.$valid && Form.lastName.$dirty">Ok!</span>
                                            <span class="error text-small block" ng-if="Form.lastName.$dirty && Form.lastName.$invalid">Last Name is required</span>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
                                            <label class="control-label">
                                                Email Address
                                            </label>
                                            <input type="email" placeholder="email address" class="form-control" name="email" ng-model="member.email">
                                            <span class="success text-small" ng-if="Form.email.$valid && Form.email.$dirty">Ok!</span>
                                            <span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">Email address is invalid</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Phone
                                            </label>
                                            <input type="text" placeholder="phone number" class="form-control" name="phone" ng-model="member.phone"  ng-pattern="phoneNumberRegex">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Home Address
                                            </label>
                                            <textarea type="text" placeholder="Enter Home Address" class="form-control" name="url" ng-model="member.homeAddress"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="block">
                                                Gender
                                            </label>
                                            <div class="clip-radio radio-primary">
                                                <input type="radio" id="us-female" name="gender" value="Female" ng-model="member.gender"/>
                                                <label for="us-female">
                                                    Female
                                                </label>
                                                <input type="radio" id="us-male" name="gender" value="Male" ng-model="member.gender"/>
                                                <label for="us-male">
                                                    Male
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <a class="btn btn-primary btn-o btn-wide" href="#" ng-show="Form.$dirty === true">
                                                Save Changes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </tab>
                    <!-- end: TAB EDIT ACCOUNT -->
                    <!-- start: TAB PROJECTS -->
                    <tab heading="Tithe History">

                    </tab>

                    <tab heading="Attendance History">

                    </tab>
                    <!-- end: TAB PROJECTS -->
                </tabset>
                <!-- end: USER TABSET -->
            </div>
        </div>
    </div>
</div>
<!-- end: USER PROFILE -->
